<!-- your html code here -->
<div class="row bg-white p-5" style="margin: auto;">
   
    <div class="w-75 m-auto d-flex">
        <div class="col-md-8">
            <h2>The First Heading <span style="color:grey; font-weight: 900;"> Will Catch Your Eye</span></h2>
        <p style="font-size: 18px;">Prueba dolor sit amet consectetur adipisicing elit. Iure voluptatibus rerum assumenda laboriosam. Saepe ipsum quae quia earum explicabo vitae architecto fugiat, assumenda temporibus voluptate ducimus consectetur atque repudiandae quod.</p>
        </div>
        <div class="col-md-4 how-img">
            <img src="https://i.pinimg.com/originals/35/be/fc/35befceb6113c79fd80b19ab8d1730a8.jpg" class="rounded-circle img-fluid" alt=""/>
        </div>
    </div>
 
</div>