<!-- your html code here -->
<p>Hello, I'm the portfolio.html</p>
<div class="m-5 p-5">
  
  <!-- Div que contiene al título y al párrafo -->
  <div>
    <h1>Portfolio</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus earum ipsam quisquam non eos? Velit illo
      aperiam, in assumenda nihil enim. Fugiat dolorum amet soluta dolore corrupti culpa nisi quis!
    </p>
  </div>
  <!-- Otro div que contiene al card group -->
  <div>
    <div class="row row-cols-1 row-cols-md-3 g-3">
      <div class="col">
        <div class="card">
          <img src="http://cdnitesm.azureedge.net/miespacio-guia-de-estilos/img/300x200.gif" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title text-primary">Project Name</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga quod temporibus tenetur architecto, nesciunt illum, atque neque voluptatibus sed cum eius pariatur blanditiis saepe voluptates esse odit? Sunt, iste aspernatur?</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="http://cdnitesm.azureedge.net/miespacio-guia-de-estilos/img/300x200.gif" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title text-primary">Project Name</h5>
            <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa veritatis odit modi sed non suscipit possimus nobis accusantium repudiandae itaque minus, aut accusamus? Id itaque voluptatem explicabo quidem dolor dolorem.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="http://cdnitesm.azureedge.net/miespacio-guia-de-estilos/img/300x200.gif" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title text-primary">Project Name</h5>
            <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis voluptates id quia voluptatum? Quidem cum inventore quae, molestiae adipisci et tempora omnis tempore minus mollitia, a, aspernatur sunt ea nemo.</p>
          </div>
        </div>
      </div>
    </div>

  </div>

  

  